* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000319;
  color: #fff;
}
button {
  font-family: "Poppins", sans-serif;

}
header {
  min-height: 100vh;
  background: url("images/bg.png");
  /* background: #553485;
background: linear-gradient(180deg, rgb(49, 26, 83) 0%, rgba(8, 6, 6, 1) 100%); */
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 50px;
}
.logo {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav-links a:hover {
  color: #cbacf9;
}
.btn {
  background: #cbacf9;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background: #e0e0ff;
}
.hero-section {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}
.hero-text {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero-text img {
  height: 90px;
  width: 90px;
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.hero-text p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  color: #e0e0ff;
  line-height: 1.5rem;
}
.hero-text .btn {
  padding: 1rem 2rem;
  background-color: #e0e0ff;
  color: #000319;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  border: none;
}
.hero-text .btn:hover {
  background-color: #cbacf9;
}
.facts {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.about-facts {
  background-color: #06081e;
  border-radius: 20px;
  height: 120px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 10px;
}
.about-facts div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px;
  text-align: center;
}
.about-facts p {
  font-size: 1rem;
  color: #e0e0ff;
  text-wrap: wrap;
}
.about-facts span {
  color: transparent;
  -webkit-text-stroke: 1px #cbacf9;
  font-size: 3rem;
  font-weight: 600;
}
.heading {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h2 {
  width: 50%;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.services {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  margin: 5rem 0;
}
.service-card {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.service-card:hover {
  border-top: 1px solid #cbacf9;
}
.service-card i {
  font-size: 2.6rem;
  color: #cbacf9;
  padding: 10px 0;
}
.service-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.service-card p {
  font-size: 0.9rem;
  color: #e0e0ff;
  font-weight: 400;
  line-height: 1.5rem;
}
.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.skills div {
  height: 100px;
  width: 150px;
  background-color: #06081e;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.skills i {
  font-size: 3rem;
  color: #cbacf9;
  padding: 10px 0;
}

.skills div:hover {
  background: #0f0d0d;
  background: linear-gradient(
    180deg,
    rgba(15, 13, 13, 1) 0%,
    rgba(99, 56, 143, 1) 100%
  );
 
}
.approach-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}
.approach-card {
  flex-basis: 320px;
  display: flex;
  gap: 1rem;
}
.approach-card:nth-child(2) {
  background-color: #06081e;
  flex-basis: 360px;
  border: 1px solid #cbacf9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.approach-card:nth-child(2) .card-num {
  align-self: flex-start;
}
.card-num {
  align-self: flex-end;
  font-size: 2.6rem;
  color: transparent;
  -webkit-text-stroke: 1px #cbacf9;
  transform: rotate(-90deg);
}
.card-content h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 14px;
  color: #e0e0ff;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer {
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-inline: 90px;
}
.footer-content {
  width: 55%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  flex-wrap: wrap;
}
.footer-content h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 2.7rem;
}
.footer-content > p {
  font-size: 0.9rem;
  color: #e0e0ff;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer-about i {
  font-size: 1.3rem;
  color: #cbacf9;
  padding: 10px;
}
.footer-about p:hover {
  color: #cbacf9;
  cursor: pointer;
}
.socials {
  display: flex;
  gap: 1rem;
}
.socials a {
  color: #f5f5f8;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  background-color: #25263b;
  padding: 6px 11px;
  border-radius: 50px;
}
.socials a:hover {
  background-color: #cbacf9;
  color: #000319;
}

.footer-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #121324;
  padding: 2rem;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form input {
  width: 100%;
  height: 50px;
  background-color: #181931;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #e0e0ff;
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
}
.form textarea {
  width: 100%;
  height: 150px;
  background-color: #181931;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #e0e0ff;
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
}
.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

@media screen and (max-width: 780px) {
  .navbar {
    padding: 20px 15px;
  }
  .navbar .btn {
    display: none;
  }
  .hero-text {
    width: 90%;
  }
  .hero-text h1 {
    font-size: 2.3rem;
  }
  .hero-text img {
    height: 70px;
    width: 70px;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-text .btn {
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
  }
  .heading h2 {
    width: 90%;
    font-size: 2rem;
  }
  .services {
    gap: 2rem;
  }
  .service-card {
    flex-basis: 300px;
  }
  .skills div {
    width: 120px;
    height: 80px;
  }
  .approach-section {
    margin-bottom: 10rem;
  }
  .approach-card:nth-child(2) {
    flex-basis: 300px;
  }
  .footer {
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
  }
  .footer-content {
    width: 100%;
    gap: 2rem;
  }
  .footer-content h2 {
    font-size: 2.1rem;
  }
  .footer-form {
    width: 100%;
  }
}
